/* This file is for your main application css. */

.event-feed {
    max-height: 350px;
    overflow-y: auto;
}

.event-feed-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.event-feed-header input {
    padding-left: 5px;
    max-width: 150px;
}

.event-feed-header-item {
    flex: 1;
}

.event-feed-header-item h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.event {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: .8em;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.event.dismissed {
    background: pink;
}

.event button {
    flex: 0.5;
}

input[type='checkbox'] {
    position: relative;
    top: 3px;
    left: 2px;
}

.event .row-label {
    margin-right: 15px;
}

.event-feed-container[hidden],
.event[hidden],
.spinner[hidden] {
    display: none;
}

.event .field {
    flex: 1;
}

.spinner {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border-top: 8px solid royalblue;
    border-right: 8px solid transparent;
    border-bottom: 8px solid royalblue;
    border-left: 8px solid transparent;
    animation: spin .5s infinite ease-in-out;
    -webkit-animation: spin2 .5s infinite ease-in-out;
}

@keyframes spin2 {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(180deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}